{{> header}}
<main>
  <h1>Homepage</h1>
  <section class="post-list">
    {{#each posts}}
      <article>
        <h2><a href="/post/{{this.id}}">{{this.title}}</a></h2>
        <p>{{this.content}}</p>
        <p>Posted by {{this.user.username}}</p>
      </article>
    {{/each}}
  </section>
</main>
{{> footer}}
