{{> header}}
<main>
  <h1>Signup</h1>
  <form class="signup-form">
    <input type="text" id="username-signup" placeholder="Username" required>
    <input type="password" id="password-signup" placeholder="Password" required>
    <button type="submit">Signup</button>
  </form>
</main>
{{> footer}}
<script src="/js/signup.js"></script>
